.wrapper {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background:  #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.wrapper h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 530;
    color: #0d1a00;
}

.wrapper table {
    margin-top: -1rem;
    margin-left: 5%;
    width: 90%;
    height: 55%;
    font-size: small;
    background: #f2f2f2;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    /* border: 1px solid red; */
}

.wrapper table thead tr th{
    color:#00b300;
    font-weight: 500;
    letter-spacing: 1px;
}

.wrapper td{
    padding-left: 1.5rem;
    font-size: small;
    color:#001a00;
    border-radius: 10px;
}


