.wrapper {
  padding-top: 2%;
  margin-left: 10%;
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.wrapper a {
  text-decoration: none;
}

.header {
  width: 60%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.header h1 {
  margin-top: -0.4rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: #003329;
}

.header p {
  margin-top: -1rem;
  font-size: small;
  color: #008066;
  opacity: 0.8;
  letter-spacing: 1px;
}

.createTask {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4dffd2;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  overflow: hidden;
}

.createTask .plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  transition: transform 0.3s;
  color: #ffff;
  transition: transform 0.5s ease-in-out;
}

.createTask:hover {
  width: 7rem;
  height: 2.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.createTask:hover .plus {
  transform: translate(130%, -50%) rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

.createTask .text {
  margin-left: -1rem;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: small;
  color: #ffff;
  transition: transform 0.5s ease-in-out;
}

.createTask:hover .text {
  opacity: 1;
  transition: transform 0.5s ease-in-out;
}
